$bodyBackground:        lighten(#000, 20%);
$textColor:             darken(#fff, 10%);
$heroUnitBackground:    lighten(#000, 10%);

@import "compass_twitter_bootstrap";

.log{ position: absolute;  bottom: 0; left: 0;}

#letters {
  text-align: center;
  font-size: 28px;
}

.letter {
  display: inline-block;
  width: 15px;
  height: 15px;
  padding: 10px;
  margin: 3px;
  text-align: center;
}

#space {
  display: block;
  width: 200px;
  margin: 0px auto;
}
